@{
    ViewData["Title"] = "OttoMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OttoMail.Models.User

<div class="container-fluid">
    <h4>Add a new user</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)

        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)

        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName)

        <input type="submit" value="Add new user" />
    }
    <p>@Html.ActionLink("Back to user list", "Index")</p>
</div>