@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OttoMail.Models.Email

<p>@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject)</p>
<p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</p>
<p>@Html.DisplayNameFor(model => model.Body): @Html.DisplayFor(model => model.Body)</p>
