@{ 
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<OttoMail.Models.Email>
@using System.Security.Claims

<h2>Email</h2>

@Html.ActionLink("Compose", "Compose")

@if (Model.Any())
{
    <ul>
        @foreach (var listEmail in Model)
        {
            <li><a href="@Url.Action("Details", new { id = listEmail.EmailId })">@Html.DisplayFor(modelEmail => listEmail.Date) | @Html.DisplayFor(modelEmail => listEmail.Subject)</a> | @Html.ActionLink("Delete", "Delete", new { id = listEmail.EmailId })</li>
        }
    </ul>
}
else
{
    <p>Your email is empty</p>
}

